# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: JavaCI-PR

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    paths-ignore:
      - 'README.md'
      - '**/README.md'
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'pull_request_template.md'
      - '.lift/.toml'
      - '**/.lift/.toml'
      - 'SECURITY.md'
      - 'LICENSE'
      - '.github/ISSUE_TEMPLATE/**'
      - '.github/assets/**'
      - '.github/workflows/**'
      - '!.github/workflows/gradle-ci.yml'
      - '.github/pr-labeler.yml'
      - 'renovate.json'
      - '.whitesource'
      - 'config/ossindex/exclusions.txt'
      - '.idea/**'
      - '.gitignore'

permissions: read-all

jobs:
  build:
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest ]
    runs-on: ${{ matrix.os }}

    steps:
      # Set up build environment
      - name: Prepare git
        if: ${{ matrix.os != 'ubuntu-latest' }}
        run: git config --global core.autocrlf false
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
      - name: Set up JDK 17
        uses: actions/setup-java@3a4f6e1af504cf6a31855fa899c6aa5355ba6c12 # v4.7.0
        with:
          distribution: temurin
          java-version: 17
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@94baf225fe0a508e581a564467443d0e2379123b # v4.3.0
        with:
          cache-disabled: true
      - name: Build with Gradle (if Ubuntu)
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: ./gradlew printVersion build -Pci
      - name: Build with Gradle (if Windows)
        if: ${{ matrix.os != 'ubuntu-latest' }}
        run: ./gradlew printVersion build -x :file-barj-core:jacocoTestCoverageVerification -Pci
      - name: Upload Test reports - Core
        if: always()
        uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1 # v4.6.1
        with:
          name: test-report-file-barj-core-${{ matrix.os }}
          path: |
            file-barj-core/build/reports/tests/test
            file-barj-core/build/reports/abort-mission/abort-mission-report.html
          retention-days: 5
      - name: Upload Test reports - Job
        if: always()
        uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1 # v4.6.1
        with:
          name: test-report-file-barj-job-${{ matrix.os }}
          path: |
            file-barj-job/build/reports/tests/test
            file-barj-job/build/reports/abort-mission/abort-mission-report.html
          retention-days: 5
      - name: Upload Test reports - Stream IO
        if: always()
        uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1 # v4.6.1
        with:
          name: test-report-file-barj-stream-io-${{ matrix.os }}
          path: |
            file-barj-stream-io/build/reports/tests/test
            file-barj-stream-io/build/reports/abort-mission/abort-mission-report.html
          retention-days: 5
      - name: Upload coverage to Codecov - Core (if Ubuntu)
        uses: codecov/codecov-action@0565863a31f2c772f9f0395002a31e3f06189574 # v5.4.0
        if: ${{ matrix.os == 'ubuntu-latest' && github.repository_owner == 'nagyesta' }}
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./file-barj-core/build/reports/jacoco/report.xml
          flags: core
          disable_search: true
          fail_ci_if_error: false
      - name: Upload coverage to Codecov - Job (if Ubuntu)
        uses: codecov/codecov-action@0565863a31f2c772f9f0395002a31e3f06189574 # v5.4.0
        if: ${{ matrix.os == 'ubuntu-latest' && github.repository_owner == 'nagyesta' }}
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./file-barj-job/build/reports/jacoco/report.xml
          flags: job
          disable_search: true
          fail_ci_if_error: false
      - name: Upload coverage to Codecov - Stream IO (if Ubuntu)
        uses: codecov/codecov-action@0565863a31f2c772f9f0395002a31e3f06189574 # v5.4.0
        if: ${{ matrix.os == 'ubuntu-latest' && github.repository_owner == 'nagyesta' }}
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./file-barj-stream-io/build/reports/jacoco/report.xml
          flags: stream
          disable_search: true
          fail_ci_if_error: false
