# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: JavaCI-PR

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    paths-ignore:
      - "README.md"
      - "**/README.md"
      - "CODE_OF_CONDUCT.md"
      - "CONTRIBUTING.md"
      - "pull_request_template.md"
      - ".lift/.toml"
      - "**/.lift/.toml"
      - "SECURITY.md"
      - "LICENSE"
      - ".github/**"
      - "!.github/workflows/gradle-ci.yml"
      - "renovate.json"
      - ".whitesource"
      - "config/ossindex/exclusions.txt"
      - ".idea/**"
      - ".gitignore"

permissions: read-all

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      # Set up build environment
      - name: Prepare git
        if: ${{ matrix.os != 'ubuntu-latest' }}
        run: git config --global core.autocrlf false
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
      - name: Set up JDK 17
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          distribution: temurin
          java-version: 17
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
        with:
          cache-disabled: true
      - name: Build with Gradle (if Ubuntu)
        if: ${{ matrix.os == 'ubuntu-latest' }}
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: ./gradlew printVersion build sonar -Pci
      - name: Build with Gradle (if Windows)
        if: ${{ matrix.os != 'ubuntu-latest' }}
        run: ./gradlew printVersion build -x :file-barj-core:jacocoTestCoverageVerification -Pci
      - name: Upload Test reports - Core
        if: always()
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: test-report-file-barj-core-${{ matrix.os }}
          path: |
            file-barj-core/build/reports/tests/test
            file-barj-core/build/reports/abort-mission/abort-mission-report.html
          retention-days: 5
      - name: Upload Test reports - Job
        if: always()
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: test-report-file-barj-job-${{ matrix.os }}
          path: |
            file-barj-job/build/reports/tests/test
            file-barj-job/build/reports/abort-mission/abort-mission-report.html
          retention-days: 5
      - name: Upload Test reports - Stream IO
        if: always()
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: test-report-file-barj-stream-io-${{ matrix.os }}
          path: |
            file-barj-stream-io/build/reports/tests/test
            file-barj-stream-io/build/reports/abort-mission/abort-mission-report.html
          retention-days: 5
