name: JavaCI-PR

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    paths-ignore:
      - "README.md"
      - "**/README.md"
      - "CODE_OF_CONDUCT.md"
      - "CONTRIBUTING.md"
      - "pull_request_template.md"
      - ".lift/.toml"
      - "**/.lift/.toml"
      - "SECURITY.md"
      - "LICENSE"
      - ".github/**"
      - "!.github/workflows/gradle-ci.yml"
      - "renovate.json"
      - ".whitesource"
      - "config/ossindex/exclusions.txt"
      - ".idea/**"
      - ".gitignore"

permissions: read-all

jobs:
  build:
    name: Build
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      # Set up build the environment
      - name: Prepare git
        if: ${{ matrix.os != 'ubuntu-latest' }}
        run: git config --global core.autocrlf false
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@0723195856401067f7a2779048b490ace7a47d7c # v5.0.2
      - name: Set up JDK 17
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: temurin
          java-version: 17
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@0723195856401067f7a2779048b490ace7a47d7c # v5.0.2
        with:
          cache-disabled: true
      - name: Build with Gradle (if Ubuntu)
        if: ${{ matrix.os == 'ubuntu-latest' }}
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: ./gradlew printVersion build sonar -Pci
      - name: Build with Gradle (if Windows)
        if: ${{ matrix.os != 'ubuntu-latest' }}
        run: ./gradlew printVersion build -x :file-barj-core:jacocoTestCoverageVerification -Pci
      - name: Upload Test reports - Core
        if: always()
        uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7.0.0
        with:
          name: test-report-file-barj-core-${{ matrix.os }}
          path: |
            file-barj-core/build/reports/tests/test
            file-barj-core/build/reports/abort-mission/abort-mission-report.html
          retention-days: 5
      - name: Upload Test reports - Job
        if: always()
        uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7.0.0
        with:
          name: test-report-file-barj-job-${{ matrix.os }}
          path: |
            file-barj-job/build/reports/tests/test
            file-barj-job/build/reports/abort-mission/abort-mission-report.html
          retention-days: 5
      - name: Upload Test reports - Stream IO
        if: always()
        uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7.0.0
        with:
          name: test-report-file-barj-stream-io-${{ matrix.os }}
          path: |
            file-barj-stream-io/build/reports/tests/test
            file-barj-stream-io/build/reports/abort-mission/abort-mission-report.html
          retention-days: 5
