# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: JavaCI-PR

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    paths-ignore:
      - "README.md"
      - "**/README.md"
      - "CODE_OF_CONDUCT.md"
      - "CONTRIBUTING.md"
      - "pull_request_template.md"
      - ".lift/.toml"
      - "**/.lift/.toml"
      - "SECURITY.md"
      - "LICENSE"
      - ".github/ISSUE_TEMPLATE/**"
      - ".github/assets/**"
      - ".github/workflows/**"
      - "!.github/workflows/gradle-ci.yml"
      - ".github/pr-labeler.yml"
      - "renovate.json"
      - ".whitesource"
      - "config/ossindex/exclusions.txt"
      - ".idea/**"
      - ".gitignore"

permissions: read-all

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      # Set up build environment
      - name: Prepare git
        if: ${{ matrix.os != 'ubuntu-latest' }}
        run: git config --global core.autocrlf false
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
      - name: Set up JDK 17
        uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4.7.1
        with:
          distribution: temurin
          java-version: 17
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@017a9effdb900e5b5b2fddfb590a105619dca3c3 # v4.4.2
        with:
          cache-disabled: true
      - name: Build with Gradle (if Ubuntu)
        if: ${{ matrix.os == 'ubuntu-latest' }}
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: ./gradlew printVersion build sonar -Pci
      - name: Build with Gradle (if Windows)
        if: ${{ matrix.os != 'ubuntu-latest' }}
        run: ./gradlew printVersion build -x :file-barj-core:jacocoTestCoverageVerification -Pci
      - name: Upload Test reports - Core
        if: always()
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: test-report-file-barj-core-${{ matrix.os }}
          path: |
            file-barj-core/build/reports/tests/test
            file-barj-core/build/reports/abort-mission/abort-mission-report.html
          retention-days: 5
      - name: Upload Test reports - Job
        if: always()
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: test-report-file-barj-job-${{ matrix.os }}
          path: |
            file-barj-job/build/reports/tests/test
            file-barj-job/build/reports/abort-mission/abort-mission-report.html
          retention-days: 5
      - name: Upload Test reports - Stream IO
        if: always()
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: test-report-file-barj-stream-io-${{ matrix.os }}
          path: |
            file-barj-stream-io/build/reports/tests/test
            file-barj-stream-io/build/reports/abort-mission/abort-mission-report.html
          retention-days: 5
