name: UpdateChecksums
on:
    workflow_dispatch:

permissions: read-all

jobs:
  build:
    name: Dependency checksum compaction action
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
          token: ${{ secrets.PUBLISH_KEY }}
      - name: Set up JDK 17
        uses: actions/setup-java@7a6d8a8234af8eb26422e24e3006232cccaa061b # v4.6.0
        with:
          distribution: temurin
          java-version: 17
      - name: Remove previous version
        run: cp gradle/verification-metadata-clean.xml gradle/verification-metadata.xml
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@0bdd871935719febd78681f197cd39af5b6e16a6 # v4.2.2
        with:
          cache-disabled: true
      - name: Update checksums
        run: ./gradlew clean file-barj-job:checkstyleMain licensee --write-verification-metadata sha256
      - name: Git commit
        run: |
          git config --global user.name 'Esta Nagy'
          git config --global user.email 'nagyesta@gmail.com'
          git add gradle/verification-metadata.xml
          git commit -asm "Pinning dependency checksums {patch}"
          git push -f --set-upstream origin ${{ github.ref_name }}
