name: UpdateChecksums
on:
    workflow_dispatch:

permissions: read-all

jobs:
  build:
    name: Dependency checksum compaction action
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          fetch-depth: 0
          token: ${{ secrets.PUBLISH_KEY }}
      - name: Set up JDK 17
        uses: actions/setup-java@99b8673ff64fbf99d8d325f52d9a5bdedb8483e9 # v4.2.1
        with:
          distribution: temurin
          java-version: 17
      - name: "Remove previous version"
        run: cp gradle/verification-metadata-clean.xml gradle/verification-metadata.xml
      - name: "Update checksums"
        uses: gradle/gradle-build-action@e2097ccd7e8ed48671dc068ac4efa86d25745b39 # v3.3.1
        with:
          cache-disabled: true
          arguments: clean file-barj-job:checkstyleMain --write-verification-metadata sha256
      - name: "Git commit"
        run: |
          git config --global user.name 'Esta Nagy'
          git config --global user.email 'nagyesta@gmail.com'
          git add gradle/verification-metadata.xml
          git commit -asm "Pinning dependency checksums {patch}"
          git push -f --set-upstream origin ${{ github.ref_name }}
